<nb-card>
  <nb-card-header>Place Offer</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col">
            <label> 
              You are about to Place an Offer on this resource, by doing so  
            </label>
            <br/> 
            <label> 
              you acknowledge and agree to ASPIRE’s 
            </label>&nbsp; 
            <label class="nav-label" (click)="openTnC();"> terms & conditions
            </label>.                                 
            <br/> 
            <label> 
              Are you sure you would like to proceed?
            </label>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>      
    <button nbButton (click)="submit()">Proceed</button>
    <button class="pull-right" status="danger" nbButton (click)="cancel()">Cancel</button>      
  </nb-card-footer>
</nb-card>