nb-select{
    max-width: 100% !important;
    width: 100%;
}

.bg-color-intl{
    background-color: #f7f9fc;
}

.intl-tel-input{
    width:100%;
}

nb-radio{
    display: inline;
}

.af_footer{
    display: none !important;
}

.add-address-message{
    color: #9899a4;
    font-size: 0.9em;
}
.add-address-Item{
    font-size: 0.9em;
}

.add-address-link{
    color: #60cc72;
    border: solid 1px #b7b7b7;
    padding: 0.1em.3em;
    border-radius: 2px;
}

.footnote{
    padding-top: 3em;
    font-size: 0.8em;
    color: gray;
}

.bottom-border1{
    border-bottom: 1px solid #eaeaea;
}

.bottom-border2{
    border-bottom: 2px solid #eaeaea;
}

.top-margin10{
    margin-bottom: 1.0em;
}

.heading-bottom{
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 1em;
    padding-bottom: 0.5em;
}

.login-message {
    font-weight: 600;
    color: #f50000;
}
