    /*
    Flaticon icon font: Flaticon
    Creation date: 14/01/2020 11:35
    */

    @font-face {
  font-family: "Flaticon";
  src: url("/assets/fonts/flaticons/Flaticon.eot");
  src: url("/assets/fonts/flaticons/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("/assets/fonts/flaticons/Flaticon.woff2") format("woff2"),
       url("/assets/fonts/flaticons/Flaticon.woff") format("woff"),
       url("/assets/fonts/flaticons/Flaticon.ttf") format("truetype"),
       url("/assets/fonts/flaticons/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("/assets/fonts/flaticons/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-box:before { content: "\f100"; }
.flaticon-beam:before { content: "\f101"; }
.flaticon-apple:before { content: "\f102"; }
.flaticon-water:before { content: "\f103"; }
.flaticon-textile:before { content: "\f104"; }
.flaticon-biohazard:before { content: "\f105"; }
.flaticon-food-and-restaurant:before { content: "\f106"; }
.flaticon-plug:before { content: "\f107"; }
.flaticon-flasks:before { content: "\f108"; }
.flaticon-purity:before { content: "\f109"; }
.flaticon-demolition:before { content: "\f10a"; }
.flaticon-couch:before { content: "\f10b"; }
.flaticon-water-pump:before { content: "\f10c"; }
.flaticon-recycle-symbol:before { content: "\f10d"; }

    $font-Flaticon-box: "\f100";
    $font-Flaticon-beam: "\f101";
    $font-Flaticon-apple: "\f102";
    $font-Flaticon-water: "\f103";
    $font-Flaticon-textile: "\f104";
    $font-Flaticon-biohazard: "\f105";
    $font-Flaticon-food-and-restaurant: "\f106";
    $font-Flaticon-plug: "\f107";
    $font-Flaticon-flasks: "\f108";
    $font-Flaticon-purity: "\f109";
    $font-Flaticon-demolition: "\f10a";
    $font-Flaticon-couch: "\f10b";
    $font-Flaticon-water-pump: "\f10c";
    $font-Flaticon-recycle-symbol: "\f10d";
