// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

$nb-themes: nb-register-theme((

  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #f7f9fc,
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), default, default);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: #252547,
  slide-out-shadow-color: 2px 0 3px #29157a,
  slide-out-shadow-color-rtl: -2px 0 3px #29157a,
), cosmic, cosmic);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #edf1f7 0%, #e4e9f2 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), corporate, corporate);

$nb-themes: nb-register-theme((
  layout-padding-top: 2.25rem,

  menu-item-icon-margin: 0 0.5rem 0 0,

  card-height-tiny: 13.5rem,
  card-height-small: 21.1875rem,
  card-height-medium: 28.875rem,
  card-height-large: 36.5625rem,
  card-height-giant: 44.25rem,
  card-margin-bottom: 1.875rem,
  card-header-with-select-padding-top: 0.5rem,
  card-header-with-select-padding-bottom: 0.5rem,

  select-min-width: 6rem,

  slide-out-background: linear-gradient(270deg, #222b45 0%, #151a30 100%),
  slide-out-shadow-color: 0 4px 14px 0 #8f9bb3,
  slide-out-shadow-color-rtl: 0 4px 14px 0 #8f9bb3,
), dark, dark);

@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';


$nb-themes: nb-register-theme((

  color-primary-100: #E4FAE3,
  color-primary-200: #C9F5CC,
  color-primary-300: #A5E2AF,
  color-primary-400: #83C695,
  color-primary-500: #58A173,
  color-primary-600: #408A63,
  color-primary-700: #2C7355,
  color-primary-800: #1C5D47,
  color-primary-900: #104D3F,
  color-primary-transparent-100: rgba(88, 161, 115, 0.08),
  color-primary-transparent-200: rgba(88, 161, 115, 0.16),
  color-primary-transparent-300: rgba(88, 161, 115, 0.24),
  color-primary-transparent-400: rgba(88, 161, 115, 0.32),
  color-primary-transparent-500: rgba(88, 161, 115, 0.4),
  color-primary-transparent-600: rgba(88, 161, 115, 0.48),
  color-success-100: #EDFBD5,
  color-success-200: #D6F8AC,
  color-success-300: #B4EA7E,
  color-success-400: #91D55B,
  color-success-500: #62BA2C,
  color-success-600: #499F20,
  color-success-700: #338516,
  color-success-800: #206B0E,
  color-success-900: #135908,
  color-success-transparent-100: rgba(98, 186, 44, 0.08),
  color-success-transparent-200: rgba(98, 186, 44, 0.16),
  color-success-transparent-300: rgba(98, 186, 44, 0.24),
  color-success-transparent-400: rgba(98, 186, 44, 0.32),
  color-success-transparent-500: rgba(98, 186, 44, 0.4),
  color-success-transparent-600: rgba(98, 186, 44, 0.48),
  color-info-100: #D1EBFF,
  color-info-200: #A3D5FF,
  color-info-300: #75BAFF,
  color-info-400: #52A1FF,
  color-info-500: #1979FF,
  color-info-600: #125DDB,
  color-info-700: #0C45B7,
  color-info-800: #073093,
  color-info-900: #04217A,
  color-info-transparent-100: rgba(25, 121, 255, 0.08),
  color-info-transparent-200: rgba(25, 121, 255, 0.16),
  color-info-transparent-300: rgba(25, 121, 255, 0.24),
  color-info-transparent-400: rgba(25, 121, 255, 0.32),
  color-info-transparent-500: rgba(25, 121, 255, 0.4),
  color-info-transparent-600: rgba(25, 121, 255, 0.48),
  color-warning-100: #FEFCCD,
  color-warning-200: #FEF99B,
  color-warning-300: #FCF469,
  color-warning-400: #FAEF43,
  color-warning-500: #F7E707,
  color-warning-600: #D4C505,
  color-warning-700: #B1A303,
  color-warning-800: #8F8202,
  color-warning-900: #766B01,
  color-warning-transparent-100: rgba(247, 231, 7, 0.08),
  color-warning-transparent-200: rgba(247, 231, 7, 0.16),
  color-warning-transparent-300: rgba(247, 231, 7, 0.24),
  color-warning-transparent-400: rgba(247, 231, 7, 0.32),
  color-warning-transparent-500: rgba(247, 231, 7, 0.4),
  color-warning-transparent-600: rgba(247, 231, 7, 0.48),
  color-danger-100: #FFE8D3,
  color-danger-200: #FFCAA8,
  color-danger-300: #FFA67C,
  color-danger-400: #FF835C,
  color-danger-500: #FF4A26,
  color-danger-600: #DB2C1B,
  color-danger-700: #B71513,
  color-danger-800: #930C14,
  color-danger-900: #7A0717,
  color-danger-transparent-100: rgba(255, 74, 38, 0.08),
  color-danger-transparent-200: rgba(255, 74, 38, 0.16),
  color-danger-transparent-300: rgba(255, 74, 38, 0.24),
  color-danger-transparent-400: rgba(255, 74, 38, 0.32),
  color-danger-transparent-500: rgba(255, 74, 38, 0.4),
  color-danger-transparent-600: rgba(255, 74, 38, 0.48),

  // layout-padding-top: 2.25rem,

  // menu-item-icon-margin: 0 0.5rem 0 0,

  // card-height-tiny: 13.5rem,
  // card-height-small: 21.1875rem,
  // card-height-medium: 28.875rem,
  // card-height-large: 36.5625rem,
  // card-height-giant: 44.25rem,
  // card-margin-bottom: 1.875rem,
  // card-header-with-select-padding-top: 0.5rem,
  // card-header-with-select-padding-bottom: 0.5rem,

  // select-min-width: 6rem,

), aspire, default);
