<div class="row justify-content-center">
<div  class="col-sm-12 col-md-7 col-lg-5 col-xxxl-4 justify-content-center">
  <nb-card>
    <nb-card-body>
      <div class="row justify-content-center heading">
        <label class="heading-label">Page Not Found!</label>
      </div>
      <div class="row justify-content-center">
        <img class="error-icon" src="\assets\images\404.png">
      </div>
      <div class="row justify-content-center grey-text">
        <div class="col-12 content-center black-text padding_0_5em">
          <label>Page you're looking for does not exists.</label>
        </div>
      </div>
      <div class="row justify-content-center reset-form">
            <div class="col-12 content-center">
              <button nbButton (click)="navigateToHome()" class="padding-right-1em">Home</button>
            </div>
      </div>
    </nb-card-body>
  </nb-card>
</div>
</div>
