nb-card-header span{
font-size: 0.8em;
}

nb-accordion-item{
    margin-bottom: 0.5em;
}

nb-accordion-item-header{
    box-shadow: 2px 2px 4px #eaeaea;
}

nb-accordion-item-header .row{
width: 100%;
}

nb-accordion-item-header{
    padding: 0.7em !important;
    font-size: 0.8375em !important;
}

.border-right{
     border-right:solid 1px #71d181;
}

.box-shadow-none { box-shadow: none !important; }
.background-transparent { background: transparent !important;}

.item-status-color{ color:#51ae61 }
.item-count-color{ color:#00a1ff }

.item-header-icon-color{ color:#60cc72 }

.item-links {margin-top: -.8em; font-size: 1em;}
