.interest-icon {
  font-size: 2em;
  border: solid 2px #60cc72;
  border-radius: 2em;
  padding: 0.6em 0.6em 0.6em 0.6em;
}

.font-color {
  color: #008cff;
  text-shadow: 0.03em 0.03em 0.05em #afafaf;
}

.pretty {
  font-size: 3em;
  border: solid 2px #63cd74;
  border-radius: 2em;
  padding:0.6em 0.6em 0.6em 0.2em;
  margin: 0.2em;
}

.first-div {
  float: left;
}
.second-div {
  float: left;
  clear: left;
}

.min-height-35em
{
    min-height: 35em;
}

#wrapper{
  width: 10em;
}

.cuppa-dropdown{
  margin-top: 6%;
}

