<div class="row justify-content-center">
  <div *ngIf="!isEmailFound" class="col-sm-12 col-md-7 col-lg-5 col-xxxl-4 justify-content-center">
    <nb-card>
      <nb-card-body>
        <div class="row justify-content-center heading">
          <label class="heading-label">Reset your Password</label>
        </div>
        <div class="row justify-content-center grey-text">
          <div class="col-12 content-center">
            <label>Please enter the email address registered with your account.</label>
          </div>
        </div>

        <div class="row justify-content-center reset-form">
          <form novalidate [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()">
            <div class="form-group">
              <label for="email" class="label">Email Address</label>
              <input (keyup)="isError = false" type="text" nbInput class="form-control" formControlName="email" required
                pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" [ngClass]="{'form-control-danger': firstForm.controls.email.invalid
                          && (firstForm.controls.email.dirty || firstForm.controls.email.touched)}">
              <label class="validation-message" *ngIf="firstForm.controls.email.invalid
                          && (firstForm.controls.email.dirty || firstForm.controls.email.touched)
                          && firstForm.controls.email.errors?.required">
                Email is required
              </label>
              <label class="validation-message" *ngIf="firstForm.controls.email.invalid
                        && (firstForm.controls.email.dirty || firstForm.controls.email.touched)
                        && firstForm.controls.email.errors?.pattern">
                Email is not correct format
              </label>
              <label class="validation-message" *ngIf="isError">
                Email not found!
              </label>
            </div>
            <div class="row">

              <div class="col">
                <button nbButton type="submit" class="padding-right-1em">Reset Password</button>
                <div class="cancel-button">
                  <button nbButton (click)="navigateToHome();">Cancel</button>
                </div>
              </div>

            </div>
          </form>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div *ngIf="isEmailFound" class="col-sm-12 col-md-7 col-lg-5 col-xxxl-4 justify-content-center">
    <nb-card>
      <nb-card-body>
        <div class="row justify-content-center heading">
          <label class="heading-label">Reset your Password</label>
        </div>
        <div class="row grey-text content-center">
          <label>A password reset email has been sent to your address!</label>
        </div>

        <div class="row justify-content-center reset-form">
          <div class="form-group">
            <button nbButton (click)="navigateToHome();" class="padding-right-1em">Done</button>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
