nb-card {
    margin-top: 5em;
    margin-bottom: auto;
}

.heading{
    padding: 2em 0em 3em 0em;
}

.heading-label{
    font-size: 2em;
    color: #58A173;
}

.reset-form{
    padding-top:3em;
    padding-bottom: 3em;

    input {
        width:20em !important;
    }
}

.grey-text {
    color: grey;

    label{
        margin-bottom: 0 !important;
    }
}


.cancel-button {
    float: right;
}

.content-center {
    text-align: center;
    padding:0em 5em;
}