nb-icon{
    font-size:4em;
}

ngx-offer-grid{
    height:100%;
}

nb-card-header {
font-size: .8375rem;
}

.card-icon{
    padding: 1.5em;
    border: solid 3.5px #58a173;
    border-radius: 5em;
    width: 7em;
    height: 7em;
}

.card-icon-right-border{
    border-right: solid 1px #8f9bb3;
}

.card-item-title{
    color: rgba(88, 161, 115, 1);
    padding-bottom: .5em;
    font-size: .7375rem;
}

.dashborad-icon {
    font-size: 3.5em;
    color: #58a173;
}

.size-tiny{
 height: 12.5rem !important;
}
