.layout{
    background:transparent !important;
}

nb-layout > .scrollable-container > .layout{
    background:transparent !important;
}

nb-layout .layout{
    background:transparent !important;
}

.nb-layout-column-background {
    padding:0 !important;
}
