<div class="row justify-content-center">
  <div *ngIf="!isSuccess" class="col-sm-12 col-md-7 col-lg-5 col-xxxl-4 justify-content-center">
    <nb-card>
      <nb-card-body>
        <div class="row justify-content-center heading">
          <label class="heading-label">Reset your Password</label>
        </div>

        <form novalidate [formGroup]="resetForm" (ngSubmit)="Reset()">
          <div class="row justify-content-center content-center">
            <!-- <div class="col-12 justify-content-center"> -->
            <div class="form-group">
              <label for="password" class="label">Password</label>
              <input type="password" nbInput class="form-control" minlength="8" maxlength="64"
                formControlName="password" [ngClass]="{'form-control-danger': resetForm.controls.password.invalid 
                              && (resetForm.controls.password.dirty || resetForm.controls.password.touched)}">
              <label class="validation-message" *ngIf="resetForm.controls.password.invalid 
                              && (resetForm.controls.password.dirty || resetForm.controls.password.touched)">
                Password is required
              </label>
              <br/>
              <label class="validation-message" *ngIf="resetForm.controls.password.invalid 
              && (resetForm.controls.password.errors?.minlength)
                && (resetForm.controls.password.dirty || resetForm.controls.password.touched)">
                Password must be between 8 to 64 Characters
              </label>
            </div>
          </div>
          <div class="row justify-content-center content-center">
            <div class="form-group">
              <label for="confirmPassword" class="label">Confirm password</label>
              <input type="password" nbInput class="form-control" formControlName="confirmPassword"
                [ngClass]="{'form-control-danger': resetForm.controls.confirmPassword.invalid 
                              && (resetForm.controls.confirmPassword.dirty || resetForm.controls.confirmPassword.touched)}">
              <label class="validation-message" *ngIf="resetForm.controls.confirmPassword.invalid 
                              && (resetForm.controls.confirmPassword.dirty || resetForm.controls.confirmPassword.touched)
                              && resetForm.controls.confirmPassword.errors?.required">
                Confirm password is required
              </label>
              <br/>
              <label class="validation-message" *ngIf="resetForm.controls.confirmPassword.invalid 
                              && (resetForm.controls.confirmPassword.dirty || resetForm.controls.confirmPassword.touched)
                              && resetForm.controls.confirmPassword.errors?.MatchPassword">
                Passwords do not match
              </label>

            </div>

          </div>

          <div class="row justify-content-center">
            <div class="col button-adjustment ">
              <div class="form-group">
                <button nbButton type="submit">Confirm</button>
                <div class="cancel-button"></div>
                <button nbButton class="pull-right" (click)="navigateToHome();" type="button">Cancel</button>
              </div>
            </div>
          </div>


        </form>
      </nb-card-body>
    </nb-card>
  </div>
  <div *ngIf="isSuccess" class="col-sm-12 col-md-7 col-lg-5 col-xxxl-4 justify-content-center">
    <!-- <nb-card>
    <nb-card-body>
      <div class="row justify-content-center heading">
        <label class="heading-label">Reset your Password</label>
      </div>
      <div class="row justify-content-center">
        <label> Please <label (click)="navigateToLogin();">Login</label> to continue. </label>
      </div>
    </nb-card-body>
  </nb-card> -->



    <nb-card>
      <nb-card-body>
        <div class="row justify-content-center heading">
          <label class="heading-label">Reset your Password</label>
        </div>
        <div class="row grey-text justify-content-center">
          <label class="text-center">Your password is changed successfully!</label>
        </div>

        <div class="row justify-content-center reset-form">
          <div class="form-group">
            <button nbButton (click)="navigateToHome();" class="padding-right-1em">Login</button>

          </div>
        </div>
      </nb-card-body>
    </nb-card>

  </div>
</div>
